@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center position-relative">
    <img class="img-fluid" src="https://localhost:7009/images/pizza-background.jpg" />
    <h1 class="display-4 position-absolute top-20 left-20 text-white">Welcome to MyPizzeria</h1>
    <a href="~/Pizzas/" class="position-absolute top-50 left-20 text-white">Dai un'occhiata alle nostre pizze</a>.
</div>
